label {
	width: 100%;
	background: #444;
	color: #000000;
	transition: transform 400ms ease-out;
	display: inline-block;
    min-height: 100%;
	width: 100%;
	height: 20%;
	position: relative;
	z-index: 1;
	text-align: center;
	line-height: 100vh;
}

form {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	white-space: nowrap;
}
input {
	position: absolute;
}

input:focus ~ .keys {
	opacity: 0.8;
}

input:nth-of-type(1):checked ~ label:nth-of-type(1), 
input:nth-of-type(2):checked ~ label:nth-of-type(2),
input:nth-of-type(3):checked ~ label:nth-of-type(3),
input:nth-of-type(4):checked ~ label:nth-of-type(4){
   z-index: 0;
}

input:nth-of-type(1):checked ~ label {
	transform: translate3d(0, 0, 0);
}

input:nth-of-type(2):checked ~ label {
	transform: translate3d(-100.3%, 0, 0);
}

input:nth-of-type(3):checked ~ label {
	transform: translate3d(-200.5%, 0, 0);
}

input:nth-of-type(4):checked ~ label {
	transform: translate3d(-300.8%, 0, 0);
}

label {
	width: 100%;
	background: none;
	background-size: cover;
	font-size: 3rem;
}


label:before,
label:after {
	color: white;
	display: block;
	position: absolute;
	padding: 1rem;
	font-size: 3rem;
	height: 10rem;
	line-height: 10rem;
	top: 50%;
	transform: translate3d(0, -50%, 0);
	cursor: pointer;
}

label:before {
	content: "\276D";
	right: 100%;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

label:after {
	content: "\276C";
	left: 100%;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}