@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Public+Sans:wght@400;500;600;700&display=swap');

.main{
    width: 100%;
    height: 100%;
    background:white;
    position: relative;
    top: 0px;
    left: 0px;
}

.header-up{
    width: 100%;
    height: 48px;
    background-color: black;
    position: absolute;
    top: 0px;
}

select{
    font-weight: medium;
    font-size: 15px;
    width:75px;
    position: relative;
    top: 16px;
    left: 58px;
    border: none;
    color: white;
    background-color: black;
}

#languaje{
    width: 80px;
    position: relative;
    top: 16px;
}

.envio{
    width: 450px;
    color: white;
    position: absolute;
    top: 16px;
    left: 505px;
    font-family: Public Sans;
    font-weight: medium;
    font-size: 16px;
}

.soporte{
    width: 80px;
    color: white;
    position: absolute;
    top: 16px;
    left: 1300px;
    font-family: Public Sans;
    font-weight: medium;
    font-size: 16px;
}

.navbar{
    width: 100%;
    height: 60px;
    position: absolute;
    top: 48px;
    left: 2px;
}



.itemnavbar{
    display: flex;
    text-align: center;
    justify-content: center;
}

.itemnavbar li{
    list-style: none;
    padding: 0 20px;
    top: 18px;
    left: 250px;

}

.itemnavbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600px;
    color: black;
    font-family: Inter;
    font-weight: Regular;

}

.itemnavbar li a:hover{ 
    color: green;
}

.logo{
    width: 250px;
    color:black;
    position: absolute;
    top: 18px;
    left: 90px;
    font-family: Inter;
    font-weight: bold;
    font-size: 35px;
}

.login{
    width: 125px;
    color: black;
    position: absolute;
    top: 18px;
    left: 1350px;
}

.shop{
    width: 35px;
    color: black;
    position: absolute;
    top: 8px;
    left: 1300px;
}
.buscar{
    width: 25px;
    color: black;
    position: absolute;
    top: 15px;
    left:1250px ;
}
