@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Public+Sans:wght@400;500;600;700&display=swap');
.container{
    text-align: center;
    justify-content: center;
    padding-top: 25px;
    font-family: Public Sans;

}


.imagen-logo{
    width: 150px;
}

.container-login{
    text-align: center;
    justify-content: center;
    padding-top: 0px;
    display: flex;
    font-family: Public Sans;
}

.img-login {
    width: 397px;
    height: 726px;
    border-radius: 1px;
    background: #212121;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    font-family: Public Sans;
    flex-shrink: 0; 
    opacity: 80%;   
}

.content{
    width: 397px;
    height: 726px;
    background-color: rgba(239, 242,246, 1)
}  

.register{
    width: 100%;
    padding-top: 20px;
    font-family: Public Sans;
    height: 40px;
    font-size: 0.775rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;

}
.boton {
    font-family: Public Sans;
    height: 36px;
    width: 180px;
    cursor: pointer;
    font-size: 0.775rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border: none;
    background-color: rgba(239, 242,246, 1);
}

.boton:hover {
    border-style: solid;
    border-color: #212121;
    border-top: none;
    border-left: none;
    border-right: none;
}

.datos{
    width: 100%;
    font-family: Public Sans;
    height: 346px;

}

.input-group{
    width: 397px;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 1,25rem;
    position: relative;
    --primary:#2196f3;
}

.input{
    font-family: Public Sans;
    max-width: 352px;
    all: unset;
    width: 352px;
    height: 40px;
    color: #000000;
    border: 1px solid #9e9e9e;
    border-radius: 0.5rem;
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
    text-align: start;
    padding-left: 10px;
}

.label{
    font-family: Public Sans;
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: rgba(43, 40, 40, 0.836);
    pointer-events: none;
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
    padding-left: 10px;
}

.input:focus{
    border: 1px solid var(--primary);
}

.input:is(:focus,:valid) ~ label{
    transform: translateY(-170%) scale(0.9);
    padding-inline:0.3rem;
    color:var(--primary);
    padding-left: 10px;
    color: black;
}

.iconos{
    width: 15px;
    font-family: Public Sans;
    justify-content: center;
    align-items: center;
    padding: 0px 15px 0px 0px;
}

.boton-iniciar{
    width: 352px;
    height: 40px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    font-family: Public Sans;
    border-radius: 0.5rem;
    font-size: 0.775rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
}

.boton-iniciar:hover{
    transform: scale(1.01);

}

.socials{
    display: grid;
    height: 320px;   
    justify-content: center; 
}

.boton-social{
    width: 352px;
    display: flex;
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    gap: 0.75rem;
    color: rgb(65, 63, 63);
    background-color: #fff;
    cursor: pointer;
    transition: all .6s ease;
}

.boton-social:hover{
    transform: scale(1.02);
    
}

p{
    font-size: 13px;
    font-family: Public Sans;
    color: black;
}
h5{
    text-align: right;
    padding-right: 25px;
    font-family: Public Sans;
}
.headers {
    width: 100% !important;
    height: 100% !important;
    font-family: Public Sans !important;
    border: none;
}



