@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Public+Sans:wght@400;500;600;700&display=swap');

.container_main{
   width: 100%;
}

.header-up{
    width: 100%;
    height: 48px;
    background-color: black;
    position: absolute;
    top: 0px;
}

select{
    font-weight: medium;
    font-size: 15px;
    width:75px;
    position: relative;
    top: 16px;
    left: 58px;
    border: none;
    color: white;
    background-color: black;
}

#languaje{
    width: 80px;
    position: relative;
    top: 16px;
}

.envio{
    width: 450px;
    color: white;
    position: absolute;
    top: 16px;
    left: 505px;
    font-family: Public Sans;
    font-weight: medium;
    font-size: 16px;
}

.soporte{
    width: 80px;
    color: white;
    position: absolute;
    top: 16px;
    left: 1300px;
    font-family: Public Sans;
    font-weight: medium;
    font-size: 16px;
}

.navbar{
    width: 100%;
    height: 60px;
    position: absolute;
    top: 48px;
    left: 2px;
}



.itemnavbar{
    display: flex;
    text-align: center;
    justify-content: center;
}

.itemnavbar li{
    list-style: none;
    padding: 0 20px;
    top: 18px;
    left: 250px;

}

.itemnavbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600px;
    color: black;
    font-family: Inter;
    font-weight: Regular;

}

.itemnavbar li a:hover{ 
    color: green;
}

.logo{
    width: 250px;
    color:black;
    position: absolute;
    top: 18px;
    left: 90px;
    font-family: Inter;
    font-weight: bold;
    font-size: 35px;
}

.login{
    width: 125px;
    color: black;
    position: absolute;
    top: 18px;
    left: 1350px;
}

.shop{
    width: 35px;
    color: black;
    position: absolute;
    top: 8px;
    left: 1300px;
}
.buscar{
    width: 25px;
    color: black;
    position: absolute;
    top: 15px;
    left:1250px ;
}
/* PARTE IZQUIERDA */
.left{
    border: 2px solid rgba(0, 0, 0, 0);
    width: 550px;
    height: 670px;
    position: relative;
    top: 120px;
    left: -115px;
    margin: 0px 0px 0px 200px;
}

.Img-product{
    border: 2px solid rgb(0, 0, 0);
    width: 550px;
    height: 550px;
    background-color: rgb(255, 255, 255)
}

.container-images{
    width: auto;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.Buttoncito{
    width: 30px;
    height: 30px;
    color: rgb(2, 2, 2);
    background-color: rgb(239, 242, 246);
    border: 1px solid rgb(239, 242, 246);
    cursor: pointer;
    font-size: 30px;
    border-radius: 50px;
}

.Buttoncito:hover{
    transform: scale(1.10);
}

.More-img{
    width: 60px;
    height: 60px;
    border: 1px solid rgb(239, 242, 246);
    background-color: rgba(54, 54, 54, 0.411);
    margin: 10px 3px 10px 10px;
    cursor: pointer;
}


.More-img:hover{
    transform: scale(1.10);
}

.View-img{
    width: auto;
    height: 150px;
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.Circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border:2px solid black;
    margin-left: 10px;
    cursor: pointer;
}

.Circle:hover{
    transform: scale(1.10);
}

.Circle2{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    margin-left: 10px;
    border:2px solid black;
    cursor: pointer;
}

.Circle2:hover{
    transform: scale(1.10);
}
/* PARTE DERECHA */
.Right{
    border: 2px solid rgba(0, 0, 0, 0);
    width: 650px;
    height: auto;
    position: relative;
    top: -550px;
    left: 600px;
    margin: 0px 0px 0px 130px;
    font-family: Public Sans;
}

.Descripcion{
    border: 2px solid rgba(0, 0, 0, 0);
    width: auto;
    height: auto;
    margin-bottom: 50px;
    margin-top: 0px
}

.img-desc{
    width: auto;
    height: auto;
    display: flex;
    justify-content: end;
}

.img-desc1{
    max-width: 30px;
    padding-left: 5px;
}

.Product{
    font-size: 45px;

}

.Price{
    font-size: 35px;
    margin-bottom: 0px
}


.Add-car{
    border: 2px solid rgba(0, 0, 0, 0);
    width: auto;
    height: 250px;
    margin-bottom: 0px;
}

.Amount-to-push{
    display: flex;
    align-items: center;
}

.Money{
    font-size: 25px;
}

.button-amount{
    width: 250px;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.993);
    background-color: rgb(239, 242, 246);
    font-family: Public Sans;
    margin: 0px 0px 0px 25px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 20px;
}

.button-amount:hover {
    transform: scale(1.02);
}

.Others{
    margin-top: 0px;
    margin-left: 0px;
}

.Offer{
    width: 150px;
    height: 50px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Public Sans;
    cursor: pointer;
    border-radius: 15px;
}

.Offer:hover{
    transform: scale(1.10);
}

.Last-push{
    color: rgba(0, 0, 0, 0.63);
    font-family: Public Sans;
    font-size: 18px;
    position: relative;
    top: -55px;
    margin-left: 10px;
}

.Pushers{
    width: auto;
    height: auto;
    border: 1px solid black;
    background-color: white;
    display: flex;
    position: relative;
    top: -35px;
    justify-content: space-between;
    margin-bottom: 15px;
}

.Name{
margin-left: 20px;
}

.Offered{
    margin-right: 20px;
}

.hr-fotter{
    position: relative;
    top: 45px;
    width: 1250px;
    height: 3px;
    background-color: black;
}

.pie-pagina{
    width: 100%;
    color: black;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color:black;
    font-family: Public Sans;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: black;
    font-family: Public Sans;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: black;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: green;
}
.pie-pagina .grupo-2{
    background-color:black;
    font-family: Public Sans;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}